@font-face {
    font-family: 'Norse'; /*a name to be used later*/
    src: url('http://felvargs.com/templates/templatemain/fonts/Fonts/Norse.ttf'); /*URL to font*/
}

html, body {
	font-family: 'Norse';
	font-size: 20px;
	height: 100%;
	background-color: #111111;
    border: 0;
    margin: 0;
}

.wrapper {
	background: url(images/activityroller.png) scroll no-repeat center top transparent;
    background-size: cover;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
}

.rollwrapper {
	background-color: rgba(34, 34, 34, 0.63);
	color: #AAAAAA;
	vertical-align: top;
	display: inline-block;
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
}

.rollcontainer {
	font-family: 'Ariel';
	font-size: 15px;
	background-color: #111111;
	color: #AAAAAA;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
}

.roll {
	clear:both;
}

.roll form {
    max-width: 866px;
}

.roll_container {
	margin-top:160px;
}

.container {
	background-color: rgba(17, 17, 17, 0.46);
	color: #AAAAAA;
	vertical-align: top;
	display: inline-block;
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
}

a {
	color: #ab5110;
}